table * { font-family: monospace; }

tr * { text-align: left; vertical-align: top; padding: 0 0.5ch; }
th { background-color: #000; color: #fff; padding: 0.25ch 0.5ch; }

tr:not(.nohover):nth-child(even) { background-color: #eee; }
tr:not(.nohover):hover td { background-color: #f70; color: #fff; }
tr:last-child>td { border-bottom: 1px dotted #000; }

caption, figurecaption {
    text-align: left; font-size: larger; white-space: nowrap;
    padding: 16px 0.5ex; margin: 2px; background-color: #ddd;
}

figurecaption { display: block; }
figure { font-family: monospace; margin: 0; width: 80ch; }